<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleAllowMixedLocalizations</key>
    <true/>
    <key>CFBundleLocalizations</key>
    <array>
        <string>ar</string>
        <string>de</string>
        <string>en</string>
        <string>es</string>
        <string>fr</string>
        <string>it</string>
        <string>ja</string>
        <string>ko</string>
        <string>pt</string>
        <string>ru</string>
        <string>zh-Hans</string>
    </array>
    <key>CFBundleShortVersionString</key>
    <string>1.1.5</string>
    <key>CFBundleVersion</key>
    <string>18</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>FilmSims needs access to save processed photos to your library.</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.566024328587-7btab5rqapkdq9i59fmp68phn4qesrjc</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
